body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: 100% 100%;
  filter: blur(5px);
  z-index: -1;
}

.header {
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text h1 {
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.profile-header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  z-index: 2;
}

.profile-image {
  position: relative;
  width: 150px;
  height: 180px;
  border-radius: 2%;
  border: 2px solid white;
  z-index: 2;
}

.logo-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 100px;
}

.logo-text {
  width: 150px;
}

.profile-info {
  background-color: rgba(255, 255, 255, 0.88);
  margin: 0 auto;
  padding: 20px;
  width: 375px;
  height: 666px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.profile-info h1 {
  line-height: 0;
}

.profile-info p,
.profile-info h2 {
  line-height: 1;
  margin: 10px 0;
}

.top-bar,
.bottom-bar {
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
}

.top-bar {
  top: 0;
  height: 30%;
  z-index: 1;
}

.bottom-bar {
  bottom: 0;
  height: 13%;
  z-index: -1;
}

.license {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  float: right;
}

.license p {
  line-height: 0;
}

.sim {
  display: flex;
  align-items: center;
  width: 15%;
  height: 40%;
  margin-top: 0;
}

.sim img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 125px;
}

.visa-logo {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 30%;
}
